.container {
    display: flex;
    flex-direction: row;
    max-width: 1920px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.image-section, .image-section2 {
    flex: 1;
}

.image-section img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.image-section2 img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: block;
    padding: 90px;
}

.form-section {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
    font-size: 14px;
    color: white;
}

input {
    margin-bottom: 30px;
    padding: 10px;
    font-size: 18px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #8AAB85;
}

button {
    background-color: #9DC19D;
    color: black;
    border: 2px, solid, black;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 25px;
    width: 20%;
    justify-content: center;
}

button:hover {
    background-color: #23663c;
}
